.box-model {
    width: 600px;
    height: 200px;
    padding: 50px;
    border: 1px solid chocolate;
    margin: 5px;
    display: inline-block;
}

.no-padding {
    padding: 2px;
}

.bg-color-red {
    background-color: red;
}

.bg-color-blue {
    background-color: blue;
}





